@import "../../app.scss";

.hero {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(12, 12, 29, 0.75), rgba(17, 17, 50, 0.75));
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      position: absolute;
      top: 0;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      @include mobile {
        margin-left: 0;
        height: 75%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 50px;
        color: rgb(182, 135, 229);
        @include mobile {
          font-size: 35px;
        }
      }

      h1 {
        font-size: 75px;
        @include mobile {
          font-size: 40px;
        }
      }

      .buttons {
        button {
          font-size: medium;
          padding: 0.5rem;
          border: 2px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;

          &:hover{
            background-color:aliceblue;
            color: #0c0c1d;
          }

          @include mobile {
            margin: 5px;
          }

        }
        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    position: absolute;
    top: 3rem;
    right: 3rem;
    
    @include mobile {
      height: 100px;
    }
    
    img{
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      object-fit: cover;
      border: #ffff 0.75rem solid;
      
      @include mobile{
        display: none;
        margin: 0;
        width: 3rem;
        border: #ffff 5px solid;
      }
      
    }
  }

}
